@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --black: rgb(17, 17, 17);
  --darkgray: rgb(42, 42, 42);
  --gray: rgb(49, 49, 49);;
  --white: rgb(241, 242, 227);
  --blue: rgb(101, 201, 238);
  --darkblue: rgb(66, 129, 152);
  --transparentblue: rgba(101, 201, 238, 0.535);
}

body {
  position: relative;
 margin: 0;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.latestBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--transparentblue);
  color: var(--white);
  width: 100%;
  height: 30px;
}

.iconContainer {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  background-color: var(--transparentblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.paperIcon {
  height: 40px;
}
.homeIcon {
  height: 50px;
}

/* .headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: green;
  width: 300px;
  height: 100px;
  border-radius: 20%;
  padding: 10px;
} */
/* .headerButton:hover {
  background-color: rgb(9, 92, 9);
} */


/* a {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgb(241, 242, 227);
  background-color: rgb(49, 49, 49);
 height: 300px;
 padding: 20px;
}
a:hover {
  background-color: black;
  color: rgb(153, 153, 153);
} */

input {
  font-size: 20px;
  background-color: var(--gray);
    color:  var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.textContainer {
  background-color: var(--darkgray);
  display: flex;
  flex-direction: column;
  width: 330px;
}

.infoBox {
  display: flex;
  align-items: center;
  height: 40px;

}
.nameBox {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  width: 400px;
}
.textName {
  text-align: left;
  color: var(--blue);
  font-size: 15px;
}
.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: var(--darkblue);
  font-size: 10px;

  width: 300px;
}
.timeText {
  margin: 0;
}
.chatBox {
  text-align: center;
  position: relative;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  height: 60px;
  padding: 10px;
  overflow-y: scroll;
}

.textMessage {
  font-size: 18px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-bottom: 20px;
}

label {
  margin-bottom: -10px;
}

a{
  text-decoration: none;
  color: var(--white);
}
a:hover {
  color: var(--black);
}