<div class="headerButton">
<h1>
<%= link_to "TYPE SOMETHING IN HERE", new_path %>
</h1>
</div>


<div class="textContainer">
  <% @text.each do |t| %>

      <div class="chatBox">
      <h2 class="textName">
        <%= t.name %> :
        </h2>
        <h2 class="textMessage">
        <%= t.text.to_s %>
        </h2>
 
      </div>

  <% end %>
</div>
