<div class="headerButton">
<h1>
<%= link_to "TYPE SOMETHING IN HERE", new_path %>
</h1>
</div>

<ul class="textList">

  <% @text.each do |t| %>
    <li>
      <div>
        <%= t.name %> - <%= t.text %>
      </div>
    </li>
  <% end %>

</ul>