<div class="headerButton">
<h1>
<%= link_to "TYPE SOMETHING IN HERE", new_path %>
</h1>
</div>

<ul class="textList">

  <% @text.each do |t| %>
    <li>
      <div class="chatBox">
      <h2 class="textName">
        <%= t.name %> :
        </h2>
        <h2 class="textMessage">
        <%= t.text %>
        </h2>
      </div>
    </li>
  <% end %>

</ul>